table{
    margin:0px auto;
    text-align:center;vertical-align:middle
}
.nav{
    font-family: 'Do Hyeon', sans-serif;
}
body{
    font-family: 'Do Hyeon', sans-serif;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    color:white;
    text-shadow: 1px 1px 5px #000;
    font-family: 'Do Hyeon', sans-serif;
}

.dropdown-item{
    coler:white;
}

